@import "~antd/dist/antd.css";

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item:hover{
     background-color:violet
}

.ant-space{
    display:-webkit-inline-box;
}

.ant-btn{
    padding: 0;
    width: 100px;
}

.ant-btn-primary {
    color: #ffff;
    background-color: #ffff;
    border-color: #ffff;
}

