@import "~antd/dist/antd.css";

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #ff2d9b;
}

.ant-space {
  display: -webkit-inline-box;
}

.ant-btn {
  padding: 0;
  width: 100px;
}

.ant-btn-primary {
  color: #ffff;
  background-color: violet;
  border-color: #ffff;
}

.ant-btn-primary:hover {
  background: rgb(97, 93, 93);
  border-color: #ffff;
  color: #ffff;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item {
  margin-left: 20px;
}
